 <%# TODO: Room customization   %>
<h2 class="text-2xl font-bold mb-2 text-center">
  <%= @user.name %>'s room 
</h2>
<%= render "rooms/notification" %>
<p class="text-center mb-2">
  Level: <%= @room.level %>
  <br/>
  <%= @room.phrase %>
</p>
<div id="phaser-example"></div>
<script>
  const characterSprite = <%= raw @character_sprite.to_json %>;
  const furnitureData = <%= raw @furniture.to_json %>;
  const furnitureItems = <%= raw @room.furniture_items.to_json %>;
  const debug = <%= Rails.env.development? %>; 
  let gameHelper, game, config, cursors, player;

  window.onload = function() {
    gameHelper = new window.GameHelpers.Game(characterSprite, furnitureData, furnitureItems, debug);
    config = window.GameHelpers.config(debug, { preload, create, update, render });
    game = new Phaser.Game(config);
  }

  function preload() {
    GameHelpers.preload(characterSprite, this);
  }

  function create() {
    gameHelper.constructWorld(this);
    player = this.add.sprite(320, 182, 'player')
    cursors = this.input.keyboard.createCursorKeys();
    gameHelper.loadPlayerAnimation(this, player);
  }

  function update() {
    gameHelper.updatePlayerMovement(player, cursors);
    gameHelper.debugOn(this);
  }

  function render() {
    this.debug.text(player.frame, 302, 168);
  }
</script>
